@heading-background: #AAA;
@menu-button-background: #FF0000;

.hide-items(@numitems, @i: 1) when (@i <= @numitems + 2) {
    .item:nth-child(@{i}) {
        right: @i * 100% / (@numitems + 2);
    }
    .hide-items(@numitems, (@i + 1));
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    h1 {
        height: 100px;
        width: 100%;
        text-align: center;
        background-color: @heading-background;
    }
    nav {
        display: flex;
        justify-content: space-evenly;
        .menu, .item {
            text-decoration: none;
            color: #000;
            position: relative;
            right: 0;
            flex: 1;
            text-align: center;
            &:hover {
                cursor: pointer;
            }
        }
        .menu {
            transform-origin: bottom left;
            transform: rotateZ(-20deg);
            background-color: @menu-button-background;
            transition: 1000ms;
            z-index: 1;
        }
        .item {
            transition: 1000ms;
        }
        .bullet {
            transition: 1000ms;
            transition-timing-function: ease-in;
            position: absolute;
            left: 0;
            transform: translateX(14.3vw + 0.5%);
            z-index: 1;
            &::after {
                content: " ";
                width: 10px;
                height: 10px;
                display: block;
                border-radius: 50%;
                border: 2px solid #000;
                transition: 1000ms;
                transition-timing-function: ease-out;
                transform: translateY(-1vw * 5.5);
            }
        }
        &.hide {
            .hide-items(5);
            .menu {
                transform: rotateX(0);
            }
            .bullet {
                transform: translateX(0);
                &::after {
                    transform: translateY(0);
                }
            }
        }
        &:not(.hide) {
            .bullet {
                &.goto1 {
                    transition-timing-function: ease-out;
                    transform: translateX(24vw);
                    &::after {
                        transition-timing-function: ease-in;
                        transform: translateY(0);
                    }
                }
                &.goto2 {
                    transition-timing-function: ease-out;
                    transform: translateX(41vw);
                    &::after {
                        transition-timing-function: ease-in;
                        transform: translateY(0);
                    }
                }
                &.goto3 {
                    transition-timing-function: ease-out;
                    transform: translateX(58vw);
                    &::after {
                        transition-timing-function: ease-in;
                        transform: translateY(0);
                    }
                }
                &.goto4 {
                    transition-timing-function: ease-out;
                    transform: translateX(74vw);
                    &::after {
                        transition-timing-function: ease-in;
                        transform: translateY(0);
                    }
                }
                &.goto5 {
                    transition-timing-function: ease-out;
                    transform: translateX(91vw);
                    &::after {
                        transition-timing-function: ease-in;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}