@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Righteous');

@all-color: #888;
@normal-color: #75515B;
@fighting-color: #994025;
@flying-color: #4A677D;
@poison-color: #5E2D88;
@ground-color: #A9702B;
@rock-color: #47180B;
@bug-color: #1C4B27;
@ghost-color: #33336B;
@steel-color: #5F756D;
@fire-color: #AC1E23;
@water-color: #1552E2;
@grass-color: #147B3D;
@electric-color: #E3E32B;
@psychic-color: #A42B6C;
@ice-color: #85D2F5;
@dragon-color: #448B95;
@fairy-color: #971945;
@dark-color: #050706;

.card-background(@color) {
  background-image: linear-gradient(to bottom right, lighten(@color, 80%), lighten(@color, 55%), lighten(@color, 80%));
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  min-width: 1260px;
}

header {
  min-height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten(#AC1E23, 10%);
  box-shadow: 0 0 5px #000;
  z-index: 1;
  

  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
    font-family: 'Righteous', sans-serif;
    color: #E3E32B;
    -webkit-text-stroke: 1px #000;
  }
}

main {
  display: flex;
  height: 100%;

  .left {
    height: 100%;
    width: 15%;
    background-color: lighten(#AC1E23, 20%);
    box-shadow: 0 0 5px #000;
    overflow-y: scroll;

    h1 {
      font-family: 'Righteous', sans-serif;
      color: #E3E32B;
      -webkit-text-stroke: 0.5px #000;
      text-align: center;
      margin-top: 10px;
      background-color: #1552E2;
      border-bottom: 5px solid darken(#1552E2, 10%);
      padding: 10px 0 10px 0;
    }

    a {
      display: block;
      text-decoration: none;
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1552E2;
      color: #FFF;
      border-bottom: 5px solid darken(#1552E2, 10%);
      margin-top: 5px;

      &:hover {
        background-color: lighten(#1552E2, 5%);
      }

      &:active {
        height: 45px;
        border-bottom: 0;
        margin-top: 10px;
      }
    }

  }

  .right {
    padding: 10px 10px 0 10px;
    flex: 1;
    display: flex;
    flex-direction: column;

    .favorites {
      height: 195px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .pokemon {
        width: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        box-shadow: 0 0 10px #333;
        text-decoration: none;
        color: #000;
        padding: 10px;

        img {
          width: 100%;
          height: auto;
        }

        .name {
          font-weight: bolder;
          font-size: 1.2em;
          margin-bottom: 5px;
        }

        .entry {
          font-size: 0.8em;
          margin-bottom: 5px;
        }

        .type1, .type2 {
          margin-bottom: 5px;
          font-size: 0.9em;
          letter-spacing: 0.2ch;
        }

        &.normal {
          .card-background(@normal-color);
        }
        &.fighting {
          .card-background(@fighting-color);
        }
        &.flying {
          .card-background(@flying-color);
        }
        &.poison {
          .card-background(@poison-color);
        }
        &.ground {
          .card-background(@ground-color);
        }
        &.rock {
          .card-background(lighten(@rock-color, 20%));
        }
        &.bug {
          .card-background(@bug-color);
        }
        &.ghost {
          .card-background(@ghost-color);
        }
        &.steel {
          .card-background(@steel-color);
        }
        &.fire {
          .card-background(@fire-color);
        }
        &.water {
          .card-background(darken(@water-color, 10%));
        }
        &.grass {
          .card-background(lighten(@grass-color, 10%));
        }
        &.electric {
          .card-background(darken(@electric-color, 15%));
        }
        &.psychic {
          .card-background(@psychic-color);
        }
        &.ice {
          .card-background(@ice-color);
        }
        &.dragon {
          .card-background(@dragon-color);
        }
        &.fairy {
          .card-background(@fairy-color);
        }
        &.dark {
          .card-background(@dark-color);
        }
      }
    }
  }

  .pokemon-table {
    flex: 1;
    overflow-x: scroll;
    margin-top: 10px;
    .table-entry {
      a {
        display: block;
        text-decoration: none;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1552E2;
        color: #FFF;
        border-bottom: 5px solid darken(#1552E2, 10%);

        &.favorite {
          background-color: lighten(@fire-color, 20%);
          border-color: lighten(@fire-color, 10%);
        }
  
        &:hover {
          background-color: lighten(#1552E2, 5%);
        }

        &.favorite:hover {
          background-color: lighten(@fire-color, 25%);
        }
  
        &:active {
          height: 45px;
          border-bottom: 0;
          margin-top: 5px;
        }
      }
    }
  }
}