@default-background-color: #FEFEFE;
@secondary-background-color: #E7E7E7;
@default-title-color: #C72B2E;
@default-border: 1px solid #DDD;
@invalid-border: 2px solid #C72B2E;
@default-box-shadow: 0 0 5px #DDD;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 500px;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
}

main {
    flex: 1;
    width: 100vw;
    display: flex;
    .main-chat {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: @secondary-background-color;
        #messages {
            height: 100%;
            flex: 1;
            padding: 0 10%;
            overflow-x: hidden;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            &::before {
                content: " ";
                margin-top: 40px;
            }
            .message {
                border-radius: 5px;
                width: 60%;
                position: relative;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: @default-background-color;
                padding: 10px;
                margin-bottom: 15px;
                box-shadow: 0 0 5px #CCC;
                &:first-child {
                    margin-top: auto;
                }
                &[from="me"] {
                    margin-left: 40%;
                    &::after {
                        content: " ";
                        position: absolute;
                        right: -30px;
                        bottom: 5px;
                        border: 15px solid transparent;
                        border-left: 20px solid @default-background-color;
                    }
                }
                &[from="user"] {
                    margin-right: 40%;
                    &::after {
                        content: " ";
                        position: absolute;
                        left: -30px;
                        bottom: 5px;
                        border: 15px solid transparent;
                        border-right: 20px solid @default-background-color;
                    }
                }
                .username {
                    font-size: 1em;
                    font-weight: bolder;
                    color: #666;
                }
                .message-txt {
                    margin-left: 50px;
                    width: 100%;
                    word-wrap: break-word;
                    font-size: 1em;
                    padding-bottom: 5px;
                }
                .time-msg {
                    font-size: 0.8em;
                    font-style: italic;
                    color: #666;
                }
            }
        }
        .message-input-container {
            height: 50px;
            background-color: lighten(@secondary-background-color, 3%);
            box-shadow: 0 0 5px #CCC;
            display: flex;
            align-items: center;
            padding: 0 50px;
            #username {
                height: 80%;
                flex: 0.3;
                font-size: 1.2em;
                padding: 5px;
                margin-right: 5px;
            }
            #message-input {
                height: 80%;
                flex: 1;
                margin-right: 5px;
                font-size: 1.2em;
                padding: 5px;
            }
            #send-message {
                height: 30px;
                width: 40x;
                color: #FFF;
                font-size: 1em;
                padding: 5px;
                border: 0;
                border-bottom: 3px solid lighten(@default-title-color, 20%);
                background-color: @default-title-color;
                &:focus {
                    outline: 0;
                }
                &:hover {
                    background-color: lighten(@default-title-color, 5%);
                    cursor: pointer;
                }
                &:active {
                    height: 28px;
                    margin-bottom: -2px;
                    border-bottom: 0;
                    bottom: 4px;
                }
            }
        }
    }
}