@default-background-color: #EFEFEF;
@secondary-background-color: #E7E7E7;
@default-title-color: #C72B2E;
@default-border: 0.1px solid #DDD;
@default-box-shadow: 0 0 5px #DDD;
.menu-border(@color) {
    border-bottom: 3px solid @color;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 500px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
}

header {
    flex: none;
    nav {
        background-color: #FFF;
        border-bottom: @default-border;
        height: 50px;
        .nav-items {
            height: 100%;
            display: flex;
            margin-right: 85px;
            justify-content: space-evenly;
            align-items: stretch;
            a {
                flex: 1;
                color: @default-title-color;
                font-weight: bolder;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
                transition: 200ms;
                .menu-border(transparent);
                &:hover {
                    .menu-border(@default-title-color);
                }
            }
        }
        .nav-img {
            border: @default-border;
            background-color: #FFF;
            padding: 5px;
            right: 10px;
            top: 10px;
            position: absolute;
            cursor: pointer;
            img {
                display: block;
                height: 60px;
                width: 60px;
                background-color: @default-background-color;
            }
        }
    }
}

main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: @default-background-color;
    .info-bar {
        flex: none;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: @secondary-background-color;
        border-bottom: @default-border;
        height: 60px;
        padding: 10px 30px;
        .chat-name {
            color: contrast(@secondary-background-color);
            font-size: 1.5em;
        }
    }
    .messages {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 30px;
        overflow: scroll;
        >div {
            position: relative;
            background-color: #FFF;
            display: inline-block;
            margin-right: 200px;
            padding: 15px;
            margin-bottom: 20px;
            box-shadow: @default-box-shadow;
            &:last-child {
                margin-bottom: 0;
            }
            .time-msg {
                margin-top: 10px;
                display: block;
                font-size: 0.8em;
                color: darken(@secondary-background-color, 30%);
            }
        }
        div[from="me"] {
            margin-right: 0;
            margin-left: 200px;
            .arrow-right {
                position: absolute;
                top: 25px;
                right: -20px;
                width: 0px;
                height: 0px;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid #FFF;
            }
        }
        div[from="user"] {
            .edit-btn {
                position: absolute;
                bottom: 5px;
                right: 5px;
                width: 20px;
                height: 20px;
                border: 0;
                border-bottom: 3px solid lighten(@default-title-color, 20%);
                background-color: @default-title-color;
                &:focus {
                    outline: 0;
                }
                &:hover {
                    background-color: lighten(@default-title-color, 5%);
                    cursor: pointer;
                }
                &:active {
                    border-bottom: 0;
                    bottom: 4px;
                }
                &::before {
                    color: #FFF;
                    content: "E";
                }
            }
            .arrow-left {
                position: absolute;
                top: 25px;
                left: -20px;
                width: 0px;
                height: 0px;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-right: 20px solid #FFF;
            }
        }
    }
}

footer {
    flex: none;
    height: 80px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: @default-border;
    background-color: lighten(@secondary-background-color, 5%);
    .input-area {
        height: 40px;
        width: 500px;
        display: flex;
        align-items: center;
        input {
            width: 85%;
            ;
            height: 100%;
            outline: none;
            padding: 10px;
            font-size: 1em;
            margin-top: -5px;
        }
        .send-btn {
            background-color: @default-title-color;
            width: 35px;
            height: 35px;
            margin-left: 5px;
            margin-top: -7px;
            border-bottom: 3px solid lighten(@default-title-color, 20%);
            display: flex;
            align-items: center;
            justify-content: space-around;
            &::after {
                content: "";
                height: 0;
                width: 0;
                margin-left: -15px;
                display: inline-block;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid #FFF;
            }
            &:hover {
                cursor: pointer;
                background-color: lighten(@default-title-color, 5%);
            }
            &:active {
                border: 0;
                margin-top: 0;
                margin-bottom: 5px;
                height: 33px;
            }
        }
    }
}