* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-width: 500px;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
}
header {
  flex: none;
}
header nav {
  background-color: #FFF;
  border-bottom: 0.1px solid #DDD;
  height: 50px;
}
header nav .nav-items {
  height: 100%;
  display: flex;
  margin-right: 85px;
  justify-content: space-evenly;
  align-items: stretch;
}
header nav .nav-items a {
  flex: 1;
  color: #C72B2E;
  font-weight: bolder;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 200ms;
  border-bottom: 3px solid transparent;
}
header nav .nav-items a:hover {
  border-bottom: 3px solid #C72B2E;
}
header nav .nav-img {
  border: 0.1px solid #DDD;
  background-color: #FFF;
  padding: 5px;
  right: 10px;
  top: 10px;
  position: absolute;
  cursor: pointer;
}
header nav .nav-img img {
  display: block;
  height: 60px;
  width: 60px;
  background-color: #EFEFEF;
}
main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
}
main .info-bar {
  flex: none;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #E7E7E7;
  border-bottom: 0.1px solid #DDD;
  height: 60px;
  padding: 10px 30px;
}
main .info-bar .chat-name {
  color: #000000;
  font-size: 1.5em;
}
main .messages {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow: scroll;
}
main .messages > div {
  position: relative;
  background-color: #FFF;
  display: inline-block;
  margin-right: 200px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #DDD;
}
main .messages > div:last-child {
  margin-bottom: 0;
}
main .messages > div .time-msg {
  margin-top: 10px;
  display: block;
  font-size: 0.8em;
  color: #9b9b9b;
}
main .messages div[from="me"] {
  margin-right: 0;
  margin-left: 200px;
}
main .messages div[from="me"] .arrow-right {
  position: absolute;
  top: 25px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #FFF;
}
main .messages div[from="user"] .edit-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: 0;
  border-bottom: 3px solid #e27679;
  background-color: #C72B2E;
}
main .messages div[from="user"] .edit-btn:focus {
  outline: 0;
}
main .messages div[from="user"] .edit-btn:hover {
  background-color: #d4383b;
  cursor: pointer;
}
main .messages div[from="user"] .edit-btn:active {
  border-bottom: 0;
  bottom: 4px;
}
main .messages div[from="user"] .edit-btn::before {
  color: #FFF;
  content: "E";
}
main .messages div[from="user"] .arrow-left {
  position: absolute;
  top: 25px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #FFF;
}
footer {
  flex: none;
  height: 80px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 0.1px solid #DDD;
  background-color: #f4f4f4;
}
footer .input-area {
  height: 40px;
  width: 500px;
  display: flex;
  align-items: center;
}
footer .input-area input {
  width: 85%;
  height: 100%;
  outline: none;
  padding: 10px;
  font-size: 1em;
  margin-top: -5px;
}
footer .input-area .send-btn {
  background-color: #C72B2E;
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-top: -7px;
  border-bottom: 3px solid #e27679;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .input-area .send-btn::after {
  content: "";
  height: 0;
  width: 0;
  margin-left: -15px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #FFF;
}
footer .input-area .send-btn:hover {
  cursor: pointer;
  background-color: #d4383b;
}
footer .input-area .send-btn:active {
  border: 0;
  margin-top: 0;
  margin-bottom: 5px;
  height: 33px;
}
