* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 1em;
    color: #000;
}

body {
    background-image: linear-gradient(to bottom, #f5f1ef, #e2d5d0);
}

header {
    background-image: linear-gradient(to top, #fce1cf, #d8c7c0);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 25px;
}

header h1 {
    font-size: 2em;
}

header h2 {
    font-size: 1.5em;
}

header > div.name {
    flex: 4;
}

header > div.image {
    width: 120px;
    height: 120px;
    box-shadow: 0 0 10px #000;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}

header img {
    display: block;
    height: 120px;
    width: auto;
    margin: auto;
}

section {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
    padding: 0 10px 10px 10px;
    justify-content: space-between;
}

section > h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

footer {
    background-color: #d8c7c0;
    border-top: 1px solid #000;

}

#wrapper {
    width: 800px;
    margin: 10px auto;
    background-color: #FEF5EF;
    box-shadow: 0 0 10px;
}

#biography {
    border-bottom: 0;
    margin-bottom: 20px;
}

#wrapper > * {
    padding: 20px;
}

.section-content {
    flex: 4;
}

.section-title {
    flex: 2;
}

