* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-width: 500px;
}
header {
  padding: 20px 0;
  background-color: #FFF;
  color: #C72B2E;
  border-bottom: 0.1px solid #DDD;
}
header h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5px;
}
header h2 {
  text-align: center;
  font-size: 1.2em;
}
main {
  padding: 20px 50px;
  background-color: #EFEFEF;
}
main h1 {
  color: #C72B2E;
  margin-bottom: 20px;
}
main span {
  line-height: 1.3em;
}
main p {
  margin-bottom: 5px;
  text-indent: 1.5em;
}
main section {
  margin: auto;
  max-width: 815px;
  padding: 25px;
  background-color: #FFF;
  margin-bottom: 20px;
  border: 0.1px solid #DDD;
  box-shadow: 0 0 5px #DDD;
}
main section:last-child {
  margin-bottom: 0;
}
main .map img {
  width: 100%;
  height: auto;
}
main .listing table {
  border-collapse: collapse;
  box-shadow: 0 0 5px #DDD;
  width: 100%;
}
main .listing table th,
main .listing table td,
main .listing table tr {
  padding: 20px;
  border: 0.1px solid #DDD;
}
main .listing table:last-child {
  margin-top: 20px;
}
main .mockup #go-to-mockup {
  border-bottom: 5px solid #dd6264;
  box-shadow: 0 0 5px #DDD;
  background-color: #C72B2E;
  color: #FFF;
  display: block;
  text-decoration: none;
  padding: 20px 0;
  text-align: center;
  font-size: 1.2em;
}
main .mockup #go-to-mockup:hover {
  background-color: #d4383b;
  cursor: pointer;
  border-bottom: 4px solid #dd6264;
  margin-top: 21px;
}
main .mockup #go-to-mockup:active {
  border-bottom: 0 solid #dd6264;
  margin-top: 25px;
}
main .references ul {
  list-style: none;
}
main .references ul li {
  padding-left: 1.2em;
  margin: 5px 0;
}
main .references ul li::before {
  content: "- ";
}
footer {
  padding: 20px;
  border-top: 0.1px solid #DDD;
  display: flex;
  justify-content: space-evenly;
}
