@main-background: #EFEFEF;
@title-color: #C72B2E;
@border: 0.1px solid #DDD;
@box-shadow: 0 0 5px #DDD;

.border-bottom-mix(@px) {
    border-bottom: @px solid lighten(@title-color, 15%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 500px;
}

header {
    padding: 20px 0;
    background-color: #FFF;
    color: @title-color;
    border-bottom: @border;

    h1 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 5px;
    }

    h2 {
        text-align: center;
        font-size: 1.2em;
    }
}

main {
    padding: 20px 50px;
    background-color: @main-background;

    h1 {
        color: @title-color;
        margin-bottom: 20px;
    }

    span {
        line-height: 1.3em;
    }

    p {
        margin-bottom: 5px;
        text-indent: 1.5em;
    }

    section {
        margin: auto;
        max-width: 815px;
        padding: 25px;
        background-color: #FFF;
        margin-bottom: 20px;
        border: @border;
        box-shadow: @box-shadow;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .map {
        img {
            width: 100%;
            height: auto;
        }
    }

    .listing {

        table {
            border-collapse: collapse;
            box-shadow: @box-shadow;
            width: 100%;
        
            th, td, tr {
                padding: 20px;
                border: @border;
            }

            &:last-child {
                margin-top: 20px;
            }
        }
    }

    .mockup {
        #go-to-mockup {
            .border-bottom-mix(5px);
            box-shadow: @box-shadow;
            background-color: @title-color;
            color: #FFF;
            display: block;
            text-decoration: none;
            padding: 20px 0;
            text-align: center;
            font-size: 1.2em;

            &:hover {
                background-color: lighten(@title-color, 5%);
                cursor: pointer;
                .border-bottom-mix(4px);
                margin-top: 21px;
            }

            &:active {
                .border-bottom-mix(0);
                margin-top: 25px;
            }
        }
    }

    .references {
        ul {
            list-style: none;

            li {
                padding-left: 1.2em;
                margin: 5px 0;

                &::before {
                    content: "- ";
                }
            }
        }
    }
}

footer {
    padding: 20px;
    border-top: @border;
    display: flex;
    justify-content: space-evenly;
}