@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Righteous');

@all-color: #888;
@normal-color: #75515B;
@fighting-color: #994025;
@flying-color: #4A677D;
@poison-color: #5E2D88;
@ground-color: #A9702B;
@rock-color: #47180B;
@bug-color: #1C4B27;
@ghost-color: #33336B;
@steel-color: #5F756D;
@fire-color: #AC1E23;
@water-color: #1552E2;
@grass-color: #147B3D;
@electric-color: #E3E32B;
@psychic-color: #A42B6C;
@ice-color: #85D2F5;
@dragon-color: #448B95;
@fairy-color: #971945;
@dark-color: #050706;

.button-background(@color) {
  background-image: linear-gradient(to bottom right, darken(@color, 20%), @color, darken(@color, 20%));
}

.card-background(@color) {
  background-image: linear-gradient(to bottom right, lighten(@color, 80%), lighten(@color, 55%), lighten(@color, 80%));
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, #EEE, #DDD, #EEE);
}

header {
  width: 100%;

  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
    font-family: 'Righteous', sans-serif;
    color: #E3E32B;
    -webkit-text-stroke: 1px #AC1E23;
  }

  .types {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #FFF;
      font-weight: bolder;
      font-size: 1.2em;
      margin: 20px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 0 10px #333;
      width: 150px;
      height: 50px;

      &.all {
        .button-background(@all-color);
      }
      &.normal {
        .button-background(@normal-color);
      }
      &.fighting {
        .button-background(@fighting-color);
      }
      &.flying {
        .button-background(@flying-color);
      }
      &.poison {
        .button-background(@poison-color);
      }
      &.ground {
        .button-background(@ground-color);
      }
      &.rock {
        .button-background(@rock-color);
      }
      &.bug {
        .button-background(@bug-color);
      }
      &.ghost {
        .button-background(@ghost-color);
      }
      &.steel {
        .button-background(@steel-color);
      }
      &.fire {
        .button-background(@fire-color);
      }
      &.water {
        .button-background(@water-color);
      }
      &.grass {
        .button-background(@grass-color);
      }
      &.electric {
        .button-background(@electric-color);
      }
      &.psychic {
        .button-background(@psychic-color);
      }
      &.ice {
        .button-background(@ice-color);
      }
      &.dragon {
        .button-background(@dragon-color);
      }
      &.fairy {
        .button-background(@fairy-color);
      }
      &.dark {
        .button-background(@dark-color);
      }
    }
  }
}

.pokemons {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;

  .pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #333;
    text-decoration: none;
    color: #000;

    &.normal {
      .card-background(@normal-color);
    }
    &.fighting {
      .card-background(@fighting-color);
    }
    &.flying {
      .card-background(@flying-color);
    }
    &.poison {
      .card-background(@poison-color);
    }
    &.ground {
      .card-background(@ground-color);
    }
    &.rock {
      .card-background(lighten(@rock-color, 20%));
    }
    &.bug {
      .card-background(@bug-color);
    }
    &.ghost {
      .card-background(@ghost-color);
    }
    &.steel {
      .card-background(@steel-color);
    }
    &.fire {
      .card-background(@fire-color);
    }
    &.water {
      .card-background(darken(@water-color, 10%));
    }
    &.grass {
      .card-background(lighten(@grass-color, 10%));
    }
    &.electric {
      .card-background(darken(@electric-color, 15%));
    }
    &.psychic {
      .card-background(@psychic-color);
    }
    &.ice {
      .card-background(@ice-color);
    }
    &.dragon {
      .card-background(@dragon-color);
    }
    &.fairy {
      .card-background(@fairy-color);
    }
    &.dark {
      .card-background(@dark-color);
    }

    img {
      margin-bottom: 20px;
      height: 200px;
      width: 200px;
    }

    .entry, .name, .type1, .type2 {
      font-weight: bolder;
      font-size: 1.2em;
      margin-bottom: 10px;
      text-align: center;
    }

    .name {
      font-size: 1.8em;
    }

    .type1 {
      margin-bottom: 5px;
    }

    .type2 {
      margin-bottom: 20px;
    }

    .type1, .type2 {
      &.normal {
        color: darken(@normal-color, 5%);
      }
      &.fighting {
        color: darken(@fighting-color, 5%);
      }
      &.flying {
        color: darken(@flying-color, 5%);
      }
      &.poison {
        color: darken(@poison-color, 5%);
      }
      &.ground {
        color: darken(@ground-color, 5%);
      }
      &.rock {
        color: darken(@rock-color, 5%);
      }
      &.bug {
        color: darken(@bug-color, 5%);
      }
      &.ghost {
        color: darken(@ghost-color, 5%);
      }
      &.steel {
        color: darken(@steel-color, 5%);
      }
      &.fire {
        color: darken(@fire-color, 5%);
      }
      &.water {
        color: darken(@water-color, 5%);
      }
      &.grass {
        color: darken(@grass-color, 5%);
      }
      &.electric {
        color: darken(@electric-color, 5%);
      }
      &.psychic {
        color: darken(@psychic-color, 5%);
      }
      &.ice {
        color: darken(@ice-color, 5%);
      }
      &.dragon {
        color: darken(@dragon-color, 5%);
      }
      &.fairy {
        color: darken(@fairy-color, 5%);
      }
      &.dark {
        color: darken(@dark-color, 5%);
      }
    }
  }
}