@import url('https://fonts.googleapis.com/css?family=Roboto');

@all-color: #888;
@normal-color: #75515B;
@fighting-color: #994025;
@flying-color: #4A677D;
@poison-color: #5E2D88;
@ground-color: #A9702B;
@rock-color: #47180B;
@bug-color: #1C4B27;
@ghost-color: #33336B;
@steel-color: #5F756D;
@fire-color: #AC1E23;
@water-color: #1552E2;
@grass-color: #147B3D;
@electric-color: #E3E32B;
@psychic-color: #A42B6C;
@ice-color: #85D2F5;
@dragon-color: #448B95;
@fairy-color: #971945;
@dark-color: #050706;

.card-background(@color) {
    background-image: linear-gradient(to bottom right, lighten(@color, 80%), lighten(@color, 55%), lighten(@color, 80%));
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #EEE, #DDD, #EEE);
}

main {
    height: 100%;
    width: 100%;
    display: flex;

    &.normal {
        .card-background(@normal-color);
    }

    &.fighting {
        .card-background(@fighting-color);
    }

    &.flying {
        .card-background(@flying-color);
    }

    &.poison {
        .card-background(@poison-color);
    }

    &.ground {
        .card-background(@ground-color);
    }

    &.rock {
        .card-background(lighten(@rock-color, 20%));
    }

    &.bug {
        .card-background(@bug-color);
    }

    &.ghost {
        .card-background(@ghost-color);
    }

    &.steel {
        .card-background(@steel-color);
    }

    &.fire {
        .card-background(@fire-color);
    }

    &.water {
        .card-background(darken(@water-color, 10%));
    }

    &.grass {
        .card-background(lighten(@grass-color, 10%));
    }

    &.electric {
        .card-background(darken(@electric-color, 15%));
    }

    &.psychic {
        .card-background(@psychic-color);
    }

    &.ice {
        .card-background(@ice-color);
    }

    &.dragon {
        .card-background(@dragon-color);
    }

    &.fairy {
        .card-background(@fairy-color);
    }

    &.dark {
        .card-background(@dark-color);
    }

    aside {
        &.left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;

            .img-card {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 350px;
                width: 250px;
                border-radius: 15px;
                box-shadow: 0 0 10px #333;
                background-color: #FFF;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .back {
                position: absolute;
                bottom: 20px;
                left: 20px;
                height: 50px;
                width: 150px;
                border-radius: 15px;
                box-shadow: 0 0 10px #333;
                background-image: linear-gradient(#999, #666);
                color: #FFF;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &.right {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .info {
                border-radius: 15px;
                height: 350px;
                width: 500px;
                border-radius: 15px;
                box-shadow: 0 0 10px #333;
                background-color: #FFF;
                padding: 20px;

                .name {
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 3em;
                }

                .types {
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 30px;

                    .type1 {

                    }

                    .type2 {

                    }
                }

                .stats {
                    .stat {
                        display: flex;
                        justify-content: space-evenly;
                        div {
                            width: 50px;
                            display: inline-block;
                            text-align: center;
                        }
                        
                        &:nth-child(odd) {
                            background-image: linear-gradient(to right, #FFF, #CCC, #FFF);
                        }
                    }
                }
            }
        }
    }
}