<div class="favorites">
    {% for pokemon in favoritePokemons %}
        <a href="?addfavorite={{ pokemon.entry }}" class="pokemon {{ pokemon.type1|lower }}">
            <img src="{{ pokemon.img_url }}" alt="{{ pokemon.name }}">
            <span class="name">{{ pokemon.name }}</span>
            <span class="entry">{{ pokemon.entry }}</span>
            <span class="type1">{{ pokemon.type1 }}</span>
            <span class="type2">{{ pokemon.type2 }}</span>
        </a>
    {% endfor %}
</div>