<header>
    {{ include('header.twig.html') }}
</header>
<main>
    <aside class="left">
        {{ include('sidebar.twig.html') }}
    </aside>
    <aside class="right">
        {{ include('cards.twig.html') }}
        {{ include('table.twig.html') }}
    </aside>
</main>