<div class="pokemon-table">
    <ul>
        {% for pokemon in pokemonTable %}
            <li class="table-entry">
                <a href="/?addfavorite={{ pokemon.pokedex_entry }}"
                class="
                    {% for favorite in favoritePokemons %}
                        {% if favorite.name == pokemon.name %}
                            favorite
                        {% endif %}
                    {% endfor %}
                ">{{ pokemon.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>