@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

@dark-background: darken(#6D7B98, 10%);

.flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.default-border(@sides) {
    border-width: @sides;
    border-style: solid;
    border-color: darken(@dark-background, 10%);
}

.default-shadow() {
    box-shadow: 0 0 5px #666;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Spectral SC', serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 100px;
    background-color: @dark-background;
    color: contrast(@dark-background);
    z-index: 1;
    .flex-center();
    .default-border(0 0 1px 0);
    .default-shadow();
}

main {
    display: flex;
    height: 100%;
    #batallion {
        padding-top: 20px;
        background-color: lighten(@dark-background, 20%);
        display: flex;
        flex-direction: column;
        min-width: 200px;
        max-width: 200px;
        color: #000;
        .default-shadow();
        .default-border(0 1px 0 0);
        .character {
            background: linear-gradient(to bottom,
                @dark-background 10%,
                lighten(@dark-background, 10%) 20%,
                lighten(@dark-background, 10%) 80%,
                @dark-background 90%
            );
            color: #FFF;
            font-weight: bolder;
            height: 40px;
            margin-top: -1px;
            .default-border(1px 0 1px 0);
            .flex-center();
            &.selected {
                background: none;
                background-color: @dark-background;
                color: #000;
            }
            &:hover {
                cursor: pointer;
                background: none;
                background-color: @dark-background;
            }
        }
        &::before {
            content: "Batallion";
            font-weight: bolder;
            font-size: 2em;
            text-align: center;
            padding-bottom: 20px;
            color: #000;
        }
    }
    .characterinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        .upper {
            padding-top: 20px;
            display: flex;
            height: 200px;
            width: 100%;
            justify-content: space-evenly;
            #squad {
                text-align: center;
                width: 45%;
                display: flex;
                flex-direction: column;
                span {
                    .default-border(1px 1px 1px 1px);
                    margin-top: -1px;
                    &:hover {
                        cursor: pointer;
                        background-color: #000;
                        color: #FFF;
                    }
                }
                &::before {
                    content: "Squad";
                    text-align: center;
                    font-weight: bolder;
                    font-size: 2em;
                }
            }
            #profile {
                text-align: center;
                width: 45%;
                display: flex;
                flex-direction: column;
                &::before {
                    content: "Profile";
                    text-align: center;
                    font-weight: bolder;
                    font-size: 2em;
                }
            }
        }
        #character-img {
            flex: 1;
            .flex-center();
            img {
                width: auto;
                height: 100%;
            }
        }
    }
}