// Colors
@darker-purple: #460C4A;
@dark-purple: #751A7C;
@light-purple: #D337DF;
@lighter-purple: #EF8AF9;
@menu-hover: #D4A4D9;

// Fonts
@title-font: Arial, Helvetica, sans-serif;

// Bars

@bar1: 70%;
@bar2: 50%;
@bar3: 90%;
@bar4: 40%;

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1345px;
    margin: auto;
}

.title {
    background: linear-gradient(to right, @dark-purple, @lighter-purple);
    font-family: @title-font;
    text-align: center;
    font-size: 3em;
}

.top.menu {
    border-radius: 10px;
    background-color: @darker-purple;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;

    .item {
        font-size: 1.2em;
        color: #FFF;

        &:nth-child(1), &:nth-child(4), &:nth-child(7) {
            background-color: @dark-purple;
        }
    
        &:nth-child(2), &:nth-child(5) {
            background-color: @light-purple;
        }
    
        &:nth-child(3), &:nth-child(6) {
            background-color: @lighter-purple;
        }

        &:hover {
            background-color: @menu-hover;
            cursor: pointer;
        }
    
    }
}

.container {
    background-color: @dark-purple;
    border-radius: 40px 0 0 40px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 300px auto;

    .sidebar {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 50px;
        padding-top: 70px;

        .item {
            font-size: 1.3em;

            .subItem {
                margin-left: 30px;
                display: none;
            }

            &:hover {
                font-weight: bold;
                cursor: pointer;
                .subItem {
                    display: block;

                    &:hover {
                        color: #EB3323;
                    }
                }
            }
        }
    }

    .flexbottom {
        background-color: @light-purple;
        display: flex;
        flex-wrap: wrap;
        padding: 0 100px 0 0;
        grid-column: span 4;

        h2 {
            height: 70px;
            line-height: 70px;
            margin-left: 5px;
            width: 100%;
            font-family: @title-font;
            font-size: 2em;
            flex-shrink: 0;
        }

        .mon {
            border-radius: 30px;
            padding: 10px;
            height: 180px;
            width: 180px;
            margin: 5px;
            border: 1px solid #000;
            background: linear-gradient(to right, @dark-purple, @darker-purple);

            &:nth-child(odd) {
                background: linear-gradient(to right, @darker-purple, @dark-purple);
            }

            div {
                font-size: 1.4em;

                &:first-child {
                    font-family: @title-font;
                    font-weight: bolder;
                    font-size: 1.6em;
                }
            }
        }
    }

    .bargraph {
        display: grid;
        width: 510px;
        grid-template-columns: repeat(4, 90px);
        grid-gap: 50px;
        margin-left: 50%;

        div {
            align-self: end;
            height: 100%;
            background-color: #377D22;
        }

        .bar1 {
            height: @bar1;
        }

        .bar2 {
            height: @bar2;
        }

        .bar3 {
            height: @bar3;
        }

        .bar4 {
            height: @bar4;
        }

    }
}

@media screen and (max-width: 814px) {
    .title {
        font-size: 1.5em;
    }

    .top.menu {
        flex-direction: column;
        margin: 0;
        width: 100%;
        font-size: 0.8em !important;

        .item {
            &:nth-child(odd) {
                background-color: @dark-purple;
            }
    
            &:nth-child(even) {
                background-color: @light-purple;
            }

            &:hover {
                background-color: @menu-hover;
                cursor: pointer;
            }
        }
    }

    .container {
        border-radius: 0;
        display: block;

        .sidebar {
            display: none;
        }

        .bargraph {
            padding: 30px 0 30px 0;
            width: 100%;
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, 20px);
            grid-gap: 20px;
            margin: 0;

            div {
                height: 20px !important;
                background-color: red;
            }

            .bar1 {
                width: @bar1;
            }

            .bar2 {
                width: @bar2;
            }

            .bar3 {
                width: @bar3;
            }

            .bar4 {
                width: @bar4;
            }
        }

        .flexbottom {
            padding: 0;

            .mon {
                width: 100%;
                height: auto;

                div {
                    color: lightblue;
                    &:first-child {
                        color: blue;
                    }
                }
            }
        }
    }
}